<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:fragment="nameChange">
<span>Change Name:</span>

<form action="" method="get">
<div class="form-group">
<input class="form-control" type="text" name="firstName" th:field="${customer.firstName}"/>
<p class="error" th:if="${#fields.hasErrors('customer.firstName')}" th:errors="*{customer.firstName}"></p>
</div>
<div class="form-group">
<input class="form-control" type="text" name="lastName" th:field="${customer.lastName}"/>
<p class="error" th:if="${#fields.hasErrors('customer.lastName')}" th:errors="*{customer.lastName}"></p>
</div>

<button class="btn btn-primary">Submit</button>
</form>
</div>

<div th:fragment="name">
<span>Name: <span th:utext="${customer.firstName} + ' ' + ${customer.lastName}"></span></span>
</div>
</body>
</html>