<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<nav th:fragment="navbar"
		class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" th:href="@{/}">Bank Demo</a>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/employee}">Employee</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/customer}">Customer</a>
				</li>
				<li class="nav-item"><a class="nav-link" target="_blank" th:href="@{/console}">H2
						Console</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0"
				sec:authorize="isAuthenticated()" th:action="@{/logout}"
				method="post">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
			</form>
		</div>
	</nav>
</body>
</html>