body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

p.account-identification {
  color: red;
}

p.error {
	color: red;
}
table, th, td {
	border: 1px solid black;
}


