<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
<h1 sec:authorize="hasRole('ROLE_CUSTOMER')">Customer Portal</h1>
<h1 sec:authorize="hasRole('ROLE_EMPLOYEE')">Employee Portal</h1>
<a sec:authorize="hasRole('ROLE_CUSTOMER')" th:href="@{/customer}">Back to Customer</a>
<a sec:authorize="hasRole('ROLE_EMPLOYEE')" th:href="@{/employee/customer/} + ${customer.customerId}">Back to Customer</a>
<div th:replace="fragments/manage-account :: name"></div>
<br/>
<h3>Manage Account</h3>
<span>Account Number: <span th:text="${account.accountId}"></span></span>
<br/>
<span>Balance: <span th:text="${'$' + #numbers.formatDecimal(account.balance,1,'COMMA',2,'POINT')}"></span></span>
<div sec:authorize="hasRole('ROLE_CUSTOMER')">
<h5>Deposit</h5>
<form th:action="@{/customer/account/} + ${account.accountId} + '/deposit'" method="post">
<label for="amount">Deposit Amount: </label>
<input type="text" name="amount"/>
<button>Deposit</button>
</form>
</div>
</div>
</body>
</html>