<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<h1>Customer Portal</h1>
<a th:href="@{/customer}">Back to Customer</a>
<br/>
<h3>Manage Account</h3>
<span>Account Number: <span th:text="${account.accountId}"></span></span>
<br/>
<span>Balance: <span th:text="${account.balance}"></span></span>
<h5>Deposit</h5>
<form th:action="@{/customer/account/} + ${account.accountId} + '/deposit'" method="post">
<label for="amount">Deposit Amount: </label>
<input type="text" name="amount"/>
<button>Deposit</button>
</form>
<h5>Withdraw</h5>
</body>
</html>