<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
<h1 sec:authorize="hasRole('ROLE_CUSTOMER')">Customer Portal</h1>
<h1 sec:authorize="hasRole('ROLE_EMPLOYEE')">Employee Portal</h1>
<a sec:authorize="hasRole('ROLE_EMPLOYEE')" th:href="@{/employee}">Back to Employee</a>

<br/>
<h3>Customer Information</h3>
<div th:replace="fragments/manage-account :: name"></div>
<br/>
<div sec:authorize="hasRole('ROLE_CUSTOMER')">
<a th:href="@{/customer/profile}">Edit Profile</a>
</div>
<h3>Account Information</h3>
<table id="accountInformation">
<thead>
<tr><th>Account Number</th><th>Balance</th><th>Action</th></tr>
</thead>
<tbody>
<tr th:each="account: ${customer.accounts}">
<td th:text="${account.accountId}">X</td>
<td th:text="${'$' + #numbers.formatDecimal(account.balance,1,'COMMA',2,'POINT')}">BBBB</td>
<td sec:authorize="hasRole('ROLE_EMPLOYEE')"><form th:action="@{/employee/customer/} + ${customer.customerId} + '/account/' + ${account.accountId} + '/close'" method="post"><button class="btn btn-primary">Close</button></form></td>
<td sec:authorize="hasRole('ROLE_CUSTOMER')"><a th:href="@{/customer/account/} + ${account.accountId}">Manage</a></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>