<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
<h1>Employee Portal</h1>
<br/>
<a th:href="@{/sensitive}">Download Sensitive Employee Info</a>
<br/>
<h3>Customer Information</h3>
<table>
<thead>
<tr><th>Customer Id</th><th>Name</th><th>Total Balance</th><th>Review</th></tr>
</thead>
<tbody>
<tr th:each="customer: ${customers}">
<td th:text="${customer.customerId}">X</td>
<!-- the th:utext tag makes it so the output is not encoded and allows the injection of HTML tags -->
<td th:utext="${customer.firstName + ' ' + customer.lastName}">Sample Name</td>
<td th:text="${'$' + #numbers.formatDecimal(customer.totalAccountValue,1,'COMMA',2,'POINT')}">Amount</td>
<td><a th:href="@{/employee/customer/} + ${customer.customerId}">View Accounts</a></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>