<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div class="container">
		<h1>Welcome to the Security Demo</h1>
		<p>This application is designed to demonstrate how security
			vulnerabilities can be exploited by hackers</p>
		<div sec:authorize="isAuthenticated()">
			<p class="account-identification">
				Logged in Username: <span sec:authentication="name"></span>
			</p>
		</div>
	</div>
</body>
</html>